@{
    ViewData["Title"] = "Home Page";
}

<style>
    p{
        font-family:'Agency FB';
        font-style:italic;
        font-size:20px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>For more information sign in on the web-site</p>
    <br />

    <img src="~/img/line.png" />
    <br /><br />
    <a href="~/account/choose-provider"><img src="~/img/login2.png"></a>

</div>
