@{
    //ViewData["Title"] = "Info";
}

<p>
    Hi!
    </p>

<div class="alert-danger">
    <p>
        Igor
        </p>

</div>

<a asp-controller="Auth" asp-action="SignIn_Google" class="btn btn-outline-danger">Google</a>